/* Webinars page */

/* Aligns the slideshow in the center */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }

/*Override bootstrap styling for links */
#override-bootstrap-link a {
  text-decoration: none;
}

/*Override bootstrap styling for heading */
#override-bootstrap-h1 {
  color: white;
  margin-top: 0;
  padding: 10% 20% 10% 20%;
}

.item h3 {
  color: white;
  background-color: black;
}

.content-box div{
  padding: 0% 10% 0% 3%;
}

.content-box::after {
  content: "";
  clear: both;
  display: table;
}

.content-box img {
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}

.img-left {
  float: left;
}

.img-right {
  float: right;
}

.content-box p {
  padding: 0% 3% 2%;
  text-align: justify;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 24px;
}

.content-box h3 {
  font-size: 36px;
  font-family: "Lato", sans-serif;
  color: black;
  padding: 3% 5% 0% 3%;
}

/* When screen is resized to mobile size */
@media screen and (max-width: 800px) {
  .content-box img {
    width: 90%;
    margin: 5%;
  }
}